/// --- CHATPAGE.SCSS --- ///
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
.background {
	// background:
	// // linear-gradient(
	// // 		45deg,
	// // 		rgba(16, 6, 187, 0.2),
	// // 		rgba(255, 196, 0, 0.2),
	// // 		rgb(215, 230, 235, 0.2) 50%
	// // 	),
	// 	url("../../assets/images/_DSC5329.JPG");
	// // background-size: cover;
	// box-shadow: inset 0 0 0 1000px rgb(215, 230, 235, 0.2);
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center;
}
.chat-page {
	// background-color: $light-blue;

	// height: 90vh;

	// display: flex;
	// // align-items: ;
	// // height: auto;
	// // background-image: url("../../assets/images/_DSC5282.JPG");
	// background-repeat: no-repeat;
	// // background-position: cover;
	box-shadow: inset 0 0 0 1000px rgb(215, 230, 235, 0.3);
	// background-size: contain;
	// min-height: 100%;

	height: 80vh;
	display: flex;
	align-items: center;
	// justify-content: center;
	// padding: 3rem;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 2rem;
	@include tablet {
		flex-direction: row;
		justify-content: center;
	}

	&__inbox-mobile {
		@include tablet {
			display: none;
		}
	}

	&__inbox-tablet {
		display: none;
		@include tablet {
			display: flex;
			height: 70%;
			margin-top: 9%;
		}
	}

	&__not-logged-in {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $dark-grey;
		background: url("../../assets/images/_DSC5329.JPG");
		// background-size: cover;
		box-shadow: inset 0 0 0 1000px rgb(215, 230, 235, 0.3);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 0;
	}

	&__copy {
		@include page-header;
		color: $dark-brown;
	}

	&__buttons {
		padding-right: 3rem;
	}

	&__button {
		@include button;
		@include labels-buttons-copy;
		// color: $light-blue;
		color: $green-grey;
		background-color: $light-blue;
		border: 1px solid $darker-blue;
		margin: 2rem;

		&:hover {
			background-color: $darker-blue;
			color: $light-blue;
			border: 1px solid $light-blue;
		}
	}
}
