/// --- _COLORS --- ///

$primary-text: rgb(48, 37, 43);
$light-blue: rgb(215, 230, 235);
$map-blue: rgb(170, 211, 223);
$darker-blue: rgb(151, 179, 200);
$light-grey: rgb(138, 145, 164);
$dark-grey: rgb(87, 84, 107);
$light-brown: rgb(125, 116, 124);
$green-grey: rgb(99, 105, 118);
$dark-brown: rgb(90, 71, 73);
$orange: rgb(173, 106, 64);
